@import url('themes.css');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    /* color: #e43c5c; */
    color: var(--bs-buttons);
    text-decoration: none;
}

a:hover {
    /* color: #ea6981; */
    color: var(--bs-buttons-hover);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
    # Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    /* background: #e43c5c; */
    background: var(--bs-buttons);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    /* color: #fff; */
    color: var(--bs-body-bg);
    line-height: 0;
}

.back-to-top:hover {
    /* background: #e9607a;
    color: #fff; */
    background: var(--bs-buttons-hover);
    color: var(--bs-body-bg);
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
    # Header
--------------------------------------------------------------*/

#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}

/* #header .logo {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
} */

#header .logo img {
    /* width: 90px; */
    /* height: 60px; */
    max-height: 60px;
    border-radius: 5px;
    background-color: #1e2125;
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 20px; */
    /* left: 50px; */
}

@media (max-width: 1000px) {
    .logo {
        height: 35px;
    }
    #header .logo img {
        max-height: 40px;
    }
}

#header .logo a {
    /* color: #f0f0f0; */
    color: var(--bs-brand-color);
}

/* #header .logo img {
    max-height: 40px;
} */

/* #header.header-scrolled .logo img {
    bottom: 5px;
} */

#header.header-scrolled,
#header.header-inner-pages {
    background: rgba(0, 0, 0, 0.9);
    padding: 12px 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    /* color: #fff; */
    color: var(--bs-body-bg);
    font-size: 15px;
    padding: 0 4px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    /* background-color: #e43c5c; */
    background: var(--bs-buttons);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    /* color: #fff; */
    color: var(--bs-body-bg);
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 24px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    /* background: #fff; */
    background: var(--bs-body-bg);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.5s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    /* color: #493c3e; */
    color: var(--bs-gray-700);
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    /* color: #e43c5c; */
    color: var(--bs-buttons-hover);
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    /* color: #fff; */
    color: var(--bs-body-bg);
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(45, 37, 38, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    /* background-color: #fff; */
    background: var(--bs-body-bg);
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    /* color: #493c3e; */
    color: var(--bs-gray-700);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    /* color: #e43c5c; */
    color: var(--bs-buttons-hover);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    /* background: #f5f5f5; */
    background: var(--bs-body-bg);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    /* color: #e43c5c; */
    color: var(--bs-buttons-hover);
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg.jpg") top center;
    background-size: cover;
    position: relative;
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

#hero h3 {
    background: rgba(255, 255, 255, 0.1);
    /* color: #fff; */
    color: var(--bs-body-bg);
    /* font-size: 26px; */
    font-size: 1.6rem;
    padding: 10px 30px;
    margin-bottom: 30px;
    border-radius: 50px;
}

#hero h1 {
    margin: 0 0 10px 0;
    /* font-size: 48px; */
    font-size: 3rem;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    /* color: #fff; */
    color: var(--bs-body-bg);
}

#hero h2 {
    /* color: #eee; */
    color: var(--bs-body-bg);
    margin-bottom: 20px;
    /* font-size: 24px; */
    font-size: 1.5rem;
}

#hero h5 {
    /* color: #eee; */
    color: var(--bs-body-bg);
    /* margin-bottom: 40px; */
    /* font-size: 24px; */
    font-size: 1.3rem;
}

#hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    /* font-size: 13px; */
    font-size: 0.8rem;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px 9px 30px;
    border-radius: 50px;
    transition: 0.5s;
    /* border: 2px solid #fff;
    color: #fff; */
    border: 2px solid var(--bs-body-bg);
    color: var(--bs-body-bg);
}

#hero .btn-get-started:hover {
    /* background: #e43c5c; */
    /* border: 2px solid #e43c5c; */
    background: var(--bs-buttons-hover);
    border: 2px solid #a7a7a7;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h3 {
        /* font-size: 22px; */
        font-size: 1.3rem;
    }

    #hero h1 {
        /* font-size: 28px; */
        font-size: 2.25rem;
        line-height: 36px;
    }

    #hero h2 {
        /* font-size: 18px; */
        font-size: 1.2rem;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-height: 500px) {
    #hero {
        height: 150vh;
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    /* background-color: white; */
    background-color: var(--bs-body-bg);
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    line-height: 1;
    margin: 0;
    /* background: #fdeff2; */
    background: var(--bs-gray-600);
    /* color: #e43c5c; */
    color: var(--bs-cyan);
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}

.section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
}

.section-title h3 span {
    /* color: #e43c5c; */
    color: var(--bs-blue);
}

.section-title p {
    margin: 15px auto 0 auto;
    font-weight: 600;
}

@media (min-width: 1024px) {
    .section-title p {
        width: 50%;
    }
}

/*--------------------------------------------------------------
    # About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-left: 28px;
    position: relative;
}

.about .content ul li+li {
    margin-top: 10px;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    /* color: #e43c5c; */
    color: var(--bs-buttons);
    line-height: 1;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.about .content .btn-learn-more {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    /* color: #e43c5c; */
    color: var(--bs-buttons);
    animation-delay: 0.8s;
    margin-top: 6px;
    /* border: 2px solid #e43c5c; */
    border: 2px solid var(--bs-blue);
}

.about .content .btn-learn-more:hover {
    /* background: #e43c5c;
    color: #fff; */
    color: var(--bs-body-bg);
    background: var(--bs-buttons-hover);
    text-decoration: none;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
    padding-bottom: 30px;
}

.services .icon-box {
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    /* background: #f3f3f3; */
    background: var(--bs-body-bg);
    box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    text-align: center;
}

.services .icon-box::before {
    content: "";
    position: absolute;
    /* background: #fdeff2; */
    background: var(--bs-body-bg);
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.4s;
    z-index: -1;
}

.services .icon-box:hover::before {
    /* background: #e43c5c; */
    background: var(--bs-buttons-hover);
    top: 0;
    border-radius: 0px;
}

.services .icon {
    margin-bottom: 15px;
}

.services .icon i {
    font-size: 48px;
    line-height: 1;
    /* color: #e43c5c; */
    color: var(--bs-buttons);
    transition: all 0.3s ease-in-out;
}

.services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .title a {
    /* color: #111; */
    color: var(--bs-black);
}

.services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.services .icon-box:hover .title a,
.services .icon-box:hover .description {
    /* color: #fff; */
    color: var(--bs-body-bg);
}

.services .icon-box:hover .icon i {
    /* color: #fff; */
    color: var(--bs-body-bg);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    width: 100%;
    /* background: #fff; */
    background: var(--bs-body-bg);
}

.contact .info i {
    font-size: 20px;
    /* color: #e43c5c; */
    color: var(--bs-buttons);
    float: left;
    width: 44px;
    height: 44px;
    /* background: #fdeff2; */
    background: var(--bs-body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    /* color: #493c3e; */
    color: var(--bs-gray-700);
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    /* color: #816a6e; */
}

.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    /* background: #e43c5c; */
    /* color: #fff; */
    color: var(--bs-body-bg);
    background: var(--bs-buttons-hover);
}

.contact .django-email-form {
    width: 100%;
    /* background: #fff; */
    background: var(--bs-body-bg);
}

.contact .django-email-form .form-group {
    padding-bottom: 8px;
}

.contact .django-email-form .error-message {
    display: none;
    /* color: #fff;
    background: #ed3c0d; */
    color: var(--bs-body-bg);
    background: var(--bs-red);
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .django-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .django-email-form .sent-message {
    display: none;
    /* color: #fff;
    background: #18d26e; */
    color: var(--bs-body-bg);
    background: var(--bs-teal);
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .django-email-form .loading {
    display: none;
    /* background: #fff; */
    background: var(--bs-body-bg);
    text-align: center;
    padding: 15px;
}

.contact .django-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: var(--bs-border-color);
    /* border-top-color: #eee; */
    animation: animate-loading 1s linear infinite;
}

.contact .django-email-form input,
.contact .django-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .django-email-form input:focus,
.contact .django-email-form textarea:focus {
    /* border-color: #e43c5c; */
    border-color: var(--bs-form-valid-border-color);
}

.contact .django-email-form input {
    height: 44px;
}

.contact .django-email-form textarea {
    padding: 10px 12px;
}

.contact .django-email-form button[type=submit] {
    /* background: #e43c5c; */
    background: var(--bs-buttons);
    border: 0;
    padding: 10px 28px;
    /* color: #fff; */
    color: var(--bs-body-bg);
    transition: 0.4s;
    border-radius: 50px;
}

.contact .django-email-form button[type=submit]:hover {
    /* background: #d01d3f; */
    background: var(--bs-buttons-hover);
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    /* color: #444444; */
    color: var(--bs-gray);
    font-size: 14px;
    /* background: #f6f4f4; */
    background: var(--bs-body-bg);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    /* background: #fff; */
    background: var(--bs-body-bg);
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
    /* color: #777777; */
    color: var(--bs-gray-600);
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    /* color: #444444; */
    color: var(--bs-gray);
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    /* color: #ea6981; */
    color: var(--bs-buttons);
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    /* color: #777777; */
    color: var(--bs-gray-600);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    /* color: #e43c5c; */
    color: var(--bs-buttons-hover);
}

#footer .footer-newsletter {
    margin-top: 30px;
    font-size: 15px;
}

#footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    /* color: #444444; */
    color: var(--bs-gray);
    position: relative;
    /* padding-bottom: 12px; */
}

#footer .footer-newsletter form {
    /* margin-top: 30px; */
    /* background: #fff; */
    background: var(--bs-body-bg);
    padding: 6px 10px;
    position: relative;
    text-align: left;
    border: 1px solid #f7c2cc;
    border-radius: 50px;
}

#footer .footer-newsletter form input {
    border-radius: 50px;
    padding: 10px;
    outline: none;
    background: none;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 15px;
    padding: 0 22px;
    /* background: #e43c5c; */
    background: var(--bs-buttons);
    /* color: #fff; */
    color: var(--bs-body-bg);
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
    /* background: #d01d3f; */
    background: var(--bs-buttons-hover);
}

#footer .credits {
    padding-top: 5px;
    font-size: 13px;
    /* color: #444444; */
    color: var(--bs-gray);
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    /* background: #4b4b4b;
    color: #fff; */
    background: var(--bs-gray-dark);
    color: var(--bs-body-bg);
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links .twitter-x{
    font-size: 0.9rem;
    padding-top: 10px;
}

#footer .social-links a:hover {
    text-decoration: none;
}

#footer .social-links .twitter-x:hover {
    background: #1da1f2;
}

#footer .social-links .facebook:hover {
    background: #1877f2;
}

#footer .social-links .instagram:hover {
    background: linear-gradient(45deg, #833ab4, #fd1d1d, #f58529);
}

#footer .social-links .linkedin:hover {
    background: #0a66c2;
}