@font-face {
    font-family: "montserrat";
    src: url('/assets/fonts/Montserrat-Regular.ttf') format('ttf');
    src: url('/assets/fonts/Montserrat-Regular.ttf');
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
    box-sizing: border-box;
    font-family: montserrat;
}

.body-content {
    display: block;
    max-width: 1200px;
    margin-inline: auto;
}

/* adaptive colors */
a,
span.themeIcon svg,
div.side-menu-logo span svg {
    color: var(--md-custom-color-a);
    cursor: pointer;
}

p,
div.arrivals-title,
div.contacts-title,
div.about-title,
p.traits-title {
    color: var(--md-custom-color-a);
}

/* titles */
div.arrivals-title,
div.contacts-title,
div.about-title,
p.traits-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    /* font-family: montserrat; */
    /* color: var(--md-custom-color-a) */
}

/* svg styles */
svg {
    width: 20px;
    height: 20px;
}

a.link-title svg {
    height: 12px;
}

nav.side-nav span.themeIcon svg {
    width: 20px;
    height: 20px;
    margin: 10px;
    float: right;
}

li.bottom-nav-link .themeIcon svg {
    width: 20px;
    height: 20px;
}

/* a:hover{
    color: var(--md-sys-color-primary-container);
    transition: .5s ease;
} */

/* body {
    background-color: var(--md-sys-color-background);
    font-family: montserrat;
    font-family: Arial, sans-serif;
} */

/* theme icon */
.themeIcon:hover {
    cursor: pointer;
}

.themeIcon {
    position: relative;
}

.themeIcon .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #5a5a5a;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* word-spacing: 5px; */
    /* letter-spacing: 2px; */
    font-family: 'Courier New', Courier, monospace;

    /* Position the tooltip */
    position: absolute;
    /* z-index: 1; */
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.themeIcon:hover .tooltip-text {
    visibility: visible;
}

/*------------------------------------------------------------------------------------------------------------------ 
.                                                    NAVIGATION BAR
---------------------------------------------------------------------------------------------------------------------- */
div.top-nav-wrapper,
div.bottom-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-height: 80px;
}

div.top-nav-wrapper a {
    font-size: 1em;
    width: inherit;
    text-align: center;
}

div.nav-link-wrapper {
    width: 150px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.nav-link-wrapper.big-screen {
    display: flex;
}

#burger-toggle,
.burger-menu {
    display: none;
}

/* overlay */
.cn-overlay {
    width: 100%;
    height: calc(100% - 80px);
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    /* top: 0; */
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    /* display: none; */
    visibility: hidden;
    transition: all .3s ease;
    z-index: 2;
    pointer-events: none;
}

/* Class added to the overlay via JavaScript to show it when navigation is open */
.cn-overlay.on-overlay {
    opacity: 1;
    visibility: visible;
}

/* bottom */
div.bottom-nav-wrapper {
    height: 40px;
}

div.bottom-nav-wrapper ul {
    display: flex;
    z-index: 3;
}

div.bottom-nav-wrapper ul li {
    padding: 10px;
    -webkit-user-select: none;
    user-select: none;
}

div.bottom-nav-wrapper ul li a {
    font-size: 1em;
}

li.bottom-nav-link div.hide {
    position: absolute;
    width: 80%;
    /* height: -moz-fit-content; */
    /* height: fit-content; */
    height: max-content;
    left: 0;
    right: 0;
    margin-inline: auto;
    margin-top: 10px;
}

li.bottom-nav-link div.hide ul {
    display: grid;
    grid-template-columns: 200px 200px;
}

li.bottom-nav-link .link-title {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    text-align: center;
    /* font-family: montserrat; */
}

div.bottom-nav li.bottom-nav-link div.hide a {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

div.hide {
    display: none;
    /* background-color: var(--md-sys-color-on-surface); */
    background-color: var(--md-custom-color-hide-bg);
}

/*------------------------------------------------------------------------------------------------------------------ 
.                                                    BURGER MENU
---------------------------------------------------------------------------------------------------------------------- */

#burger-toggle {
    position: absolute;
    appearance: none;
    opacity: 0;
}

/* #burger-toggle:checked~.menu {
    opacity: 1;
    visibility: visible;
}

#burger-toggle:checked~.menu .menu-nav-link span div,
#burger-toggle:checked~.menu img,
#burger-toggle:checked~.menu .title p {
    transform: translateY(0);
    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}

#burger-toggle:checked~.burger-menu .line::after {
    transform: translateX(0);
}

#burger-toggle:checked~.burger-menu .line:nth-child(1) {
    transform: translateY(calc(4em / 5)) rotate(45deg);
}

#burger-toggle:checked~.burger-menu .line:nth-child(2) {
    transform: scaleX(0);
}

#burger-toggle:checked~.burger-menu .line:nth-child(3) {
    transform: translateY(calc(4em / -5)) rotate(-45deg);
} */

.burger-menu {
    position: relative;
    /* top: 5vh;
    left: 5vw; */
    /* z-index: 100; */
    /* display: block; */
    width: 4em;
    height: 4em;
    outline: none;
    cursor: pointer;
}

.burger-menu .line {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 3px;
    background: #acacac;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.burger-menu .line:nth-child(1) {
    top: 30%;
}

.burger-menu .line:nth-child(2) {
    top: 50%;
}

.burger-menu .line:nth-child(3) {
    top: 70%;
}

/* .burger-menu .line::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #00a8eb;
    transform: translateX(-100%);
    transition: 0.25s;
} */

/* .burger-menu .line:nth-child(2)::after {
    transition-delay: 0.1s;
}

.burger-menu .line:nth-child(3)::after {
    transition-delay: 0.2s;
}

.burger-menu:hover .line::after {
    transform: translateX(0);
} */

/* navbar media queries */

@media screen and (max-width:810px) {
    div.top-nav-wrapper {
        justify-content: space-around;
    }

    div.nav-link-wrapper {
        width: auto;
    }

    /* bottom */
    div.bottom-nav-wrapper {
        display: none;
    }

    div.nav-link-wrapper.big-screen {
        display: none;
    }

    #burger-toggle,
    .burger-menu {
        display: initial;
    }
}

@media screen and (max-width:419px) {
    div.top-nav-wrapper a {
        font-size: .9em;
    }

    div.logo img {
        width: 70px;
    }
}

/* @media screen and (max-width:350px) {
    .burger-menu {
        width: 2.5em;
        height: 2.5em;
    }

    .burger-toggle:checked~.burger-menu .line:nth-child(1) {
        transform: translateY(calc(2.5em / 5)) rotate(45deg);
    }

    .burger-toggle:checked~.burger-menu .line:nth-child(3) {
        transform: translateZ(calc(2.5em / 5)) rotate(-45deg);
    }

    .burger-menu .line:nth-child(1) {
        top: 30%;
    }

    .burger-menu .line:nth-child(2) {
        top: 40%;
    }

    .burger-menu .line:nth-child(3) {
        top: 50%;
    }
} */

/*------------------------------------------------------------------------------------------------------------------ 
.                                                    SIDE BAR NAVIGATION
---------------------------------------------------------------------------------------------------------------------- */
nav.side-nav {
    /* position: absolute; */
    width: 350px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    /* margin: 0; */
    background-color: var(--md-custom-color-hide-bg);
    /* border-radius: 8px; */
    z-index: 4;
    overflow: scroll;
    /* starting point */
    opacity: .3;
    transform: translate3d(-100%, 0, 0);
}

div.side-menu-container {
    overflow: hidden;
}

/* nav.side-nav li {
    display: inline-block;
} */

nav.side-nav li a {
    padding: 10px;
    letter-spacing: 3px;
    font-size: 1em;
}

nav.side-nav ul li {
    display: flex;
    flex-direction: column;
}

nav.side-nav div.hide {
    position: relative;
}

nav.side-nav div.hide ul {
    display: flex;
    flex-direction: column;
}

/* .side-nav ul {
    height: 100%;
    overflow: scroll;
} */

nav.side-nav li {
    display: block;
    /* float: none; */
}

nav.side-nav li a:hover {
    color: #fff;
    background-color: #19252c;
}

nav.side-nav li:first-child a.active,
nav.side-nav li:first-child a:hover {
    border-radius: 10px 0 0 0;
}

/*Nav Expanding Open Effect*/
nav.side-nav.open {
    opacity: 1;
    /* display: initial; */

    transform: translate3d(0, 0, 0);
    animation: slideIn .35s ease-in-out;
}

@keyframes slideIn {
    0% {
        opacity: .3;
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/*Nav Shrinking Closed Effect*/
nav.side-nav.close {
    opacity: .3;
    /* display: none; */

    transform: translate3d(-100%, 0, 0);
    animation: slideOut .35s ease-in-out;
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: .3;
        transform: translate3d(-100%, 0, 0);
    }
}

div.side-menu-logo {
    position: relative;
    width: 100%;
    text-align: center;
}

div.side-menu-logo span:first-child {
    display: inline-block;
}

div.side-menu-logo span:last-child {
    position: absolute;
    top: 20px;
    right: 10px;
}

div.side-menu-logo i {
    cursor: pointer;
}

div.side-nav-icons {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

/* @media screen and (max-width:810px) {} */

/*------------------------------------------------------------------------------------------------------------------ 
.                                                    SLIDESHOW
---------------------------------------------------------------------------------------------------------------------- */
div.slideshow-container {
    position: relative;
    overflow: hidden;
}

div.mySlides {
    position: absolute;
    width: 100%;
}

div.mySlides img {
    max-width: 100%;
}

/* .prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
} */

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

div.ad {
    display: none;
}

@media screen and (min-width:880px) {
    .hero-wrapper {
        display: flex;
        gap: 10px;
        margin: 10px 20px;
    }

    div.slideshow-container {
        width: 900px;
    }

    div.ad {
        display: block;
    }
}

/*------------------------------------------------------------------------------------------------------------------ 
.                                                    ITEMS
---------------------------------------------------------------------------------------------------------------------- */
div.items {
    max-width: 100%;
    -webkit-user-select: none;
    user-select: none;
    /* position: relative; */
}

div.delivery-banner {
    max-width: 100%;
    /* margin: 15px; */
    margin: 10px auto;
}

div.delivery-banner img {
    display: block;
    margin-inline: auto;
    height: auto;
    max-height: 130px;
}

div.item-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 10px;
}

div.item-list div {
    flex-basis: 150px;
    position: relative;
}

div.item-list div img {
    border-radius: 10px;
    max-height: 90px;
}

div.item-list h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    /* font-family: montserrat; */
    color: #303030 !important;
    font-size: .9em;
}

@media screen and (min-width:880px) {
    div.item-list {
        grid-template-columns: repeat(6, 1fr);
    }

    div.item-list img {
        height: 170px;
    }

    div.delivery-banner {
        margin: 15px;
    }
}

/* --------------------------------------------------- NEW ARRIVALS --------------------------------------------------------------------------*/
div.new-arrivals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px;
}

@media screen and (min-width:880px) {
    div.arrivals-text {
        font-size: 3em;
    }
}

/* --------------------------------------------------- CONTACT --------------------------------------------------------------------------*/
div.contact {
    /* background-color: #1f4e50; */
    /* background-color: var(--md-sys-color-primary-container); */
    margin: 10px;
}

div.contacts-wrapper {
    display: flex;
    justify-content: center;
}

div.contacts-hide-small-screen {
    display: none;
}

div.location {
    display: flex;
    justify-content: center;
    gap: 10px;
}

div.two-rivers,
div.gateway,
div.hours {
    flex-basis: 300px;
    /* width: 250px; */
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--md-sys-color-outline-variant);
    /* margin-inline: auto; */
}

.mall-title {
    text-align: center;
    font-size: 1.2em;
}

div.two-rivers p,
div.gateway p,
div.hours p {
    margin: 10px;
}

div.hours {
    margin: 10px 0;
    text-align: center;
    max-width: 600px;
    margin-inline: auto;
}

/* div.hours p{
    text-align: center;
} */

div.social-icons div.icons {
    width: max-content;
    /* height: 40px; */
    margin-inline: auto;
}

div.social-icons div.icons a {
    padding: 10px;
}

div.social-icons div.icons svg {
    width: 50px;
    height: 50px;
    font-size: 3em;
}

@media screen and (max-width:510px) {
    div.location {
        flex-direction: column;
        text-align: center;
    }

    div.two-rivers,
    div.gateway,
    div.hours {
        flex-basis: 100px;
    }
}

@media screen and (min-width:1000px) {
    div.contacts-hide-small-screen {
        display: block;
    }
}

/* @media screen and (min-width:880px) {
} */
/* --------------------------------------------------- ABOUT --------------------------------------------------------------------------*/
div.about-wrapper {
    padding: 10px;
}

div.about-traits {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 10px;
    justify-content: center;
}

p.traits-title {
    font-size: 1.5em;
}

div.traits h3 {
    text-transform: uppercase;
    text-align: center;
}

div.traits {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    max-width: 800px;
}

div.traits img {
    padding: 10px 0;
    height: 270px;
}

@media screen and (min-width:650px) {
    div.about-traits {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ------------------------------------------------------------------------------------------------------------------ 
.                                                            FOOTER SECTION
---------------------------------------------------------------------------------------------------------------------- */
.footer {
    display: flex;
    padding: 20px;
    height: 300px;
    justify-content: space-evenly;
}

.footer-contact {
    line-height: 3em;
}

.form form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
}

input,
button {
    padding: 7px;
    border-radius: 5px;
    font-size: 1em;
    /* max-width: 200px; */
}

/* label{
    max-width: 190px;
} */

.form .name {
    flex-grow: 1;
    flex-basis: 120px;
    /* max-width: min-content; */
}

.form .email {
    flex-grow: 3;
    flex-basis: 170px;
}

.form button {
    flex-grow: 1;
    flex-basis: 70px;
    max-width: 150px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #4e4e4e;
}

.form button:hover {
    color: #fad02c;
}

.copyright {
    font-size: .9em;
    margin-top: 50px;
}

.footer .social-media-icons ul {
    /* line-height: 2em; */
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-contact-title,
.form h3 {
    font-size: 1.5em;
}

@media screen and (max-width: 1000px) {
    .footer .social-media-icons ul {
        flex-direction: row;
        position: absolute;
        right: 10px;
    }
}

@media screen and (max-width: 780px) {
    .footer {
        /* flex-direction: column; */
        height: 250px;
        justify-content: space-between;
    }

    /* .footer .social-media-icons{
        align-self: flex-end;
    } */
    .footer-contact {
        line-height: 2em;
    }

    .copyright {
        margin-top: 10px;
    }
}

@media screen and (max-width: 650px) {
    .footer {
        flex-direction: column;
        gap: 1em;
    }

    /* .footer .social-media-icons{
        align-self: auto;
    } */
    .footer .social-media-icons ul {
        /* display: flex; */
        flex-direction: row;
        gap: 1em;
    }

    /* .footer-contact{
        line-height: 2em;
    } */
    .copyright {
        /* position: absolute; */
        margin-top: 150px;
    }
}

@media screen and (max-width: 455px) {
    input {
        max-width: 200px;
    }

    /* .form .name {
        flex-shrink: 0;
    }
    
    .form .email {
        flex-shrink: 0;
    }
    
    .form button {
        flex-shrink: 0;
    } */
}

@media screen and (max-width: 437px) {
    .form form {
        max-width: 200px;
    }

    .copyright {
        margin-top: 180px;
    }
}

/* .form .name {
    flex-grow: 1;
    flex-basis: 200px;
    max-width: min-content;
} */