@font-face {
    font-family: "montserrat";
    src: url('/assets/fonts/Montserrat-Regular.ttf') format('ttf');
    src: url('/assets/fonts/Montserrat-Regular.ttf');
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

a {
    color: var(--md-custom-color-a);
    cursor: pointer;
}

svg{
    width: 20px;
    height: 20px;
}

/* .dropdown svg{
    height: 12px;
} */

nav.side-nav span.themeIcon svg{
    width: 20px;
    height: 20px;
    margin: 10px;
    float: right;
}

li.bottom-nav-link .themeIcon svg{
    width: 20px;
    height: 20px;
}
/* a:hover{
    color: var(--md-sys-color-primary-container);
    transition: .5s ease;
} */

/* body {
    background-color: var(--md-sys-color-background);
    font-family: montserrat;
    font-family: Arial, sans-serif;
} */

.themeIcon:hover {
    cursor: pointer;
}

.themeIcon {
    position: relative;
}

.themeIcon .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #5a5a5a;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* word-spacing: 5px; */
    /* letter-spacing: 2px; */
    font-family: 'Courier New', Courier, monospace;

    /* Position the tooltip */
    position: absolute;
    /* z-index: 1; */
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.themeIcon:hover .tooltip-text {
    visibility: visible;
}

/*------------------------------------------------------------------------------------------------------------------ 
.                                                    NAVIGATION BAR
---------------------------------------------------------------------------------------------------------------------- */
div.top-nav-wrapper,
div.bottom-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-height: 80px;
}

div.top-nav-wrapper a {
    font-size: 1em;
    width: inherit;
    text-align: center;
}

div.nav-link-wrapper {
    width: 150px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.nav-link-wrapper.big-screen {
    display: flex;
}

#burger-toggle,
.burger-menu {
    display: none;
}

/* overlay */
.cn-overlay {
    width: 100%;
    height: calc(100% - 80px);
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    /* top: 0; */
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    /* display: none; */
    visibility: hidden;
    transition: all .3s ease;
    z-index: 2;
    pointer-events: none;
}

/* Class added to the overlay via JavaScript to show it when navigation is open */
.cn-overlay.on-overlay {
    opacity: 1;
    visibility: visible;
}

/* bottom */
div.bottom-nav-wrapper {
    height: 40px;
}

div.bottom-nav-wrapper ul {
    display: flex;
    z-index: 3;
}

div.bottom-nav-wrapper ul li {
    padding: 10px;
    -webkit-user-select: none;
    user-select: none;
}

div.bottom-nav-wrapper ul li a i {
    font-size: 12px
}

li.bottom-nav-link div.hide {
    position: absolute;
    width: 80%;
    /* height: -moz-fit-content; */
    /* height: fit-content; */
    height: max-content;
    left: 0;
    right: 0;
    margin-inline: auto;
    margin-top: 10px;
}

li.bottom-nav-link div.hide ul {
    display: grid;
    grid-template-columns: 200px 200px;
}

li.bottom-nav-link .link-title {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    text-align: center;
    font-family: montserrat;
}

div.bottom-nav li.bottom-nav-link div.hide a {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

div.hide {
    display: none;
    /* background-color: var(--md-sys-color-on-surface); */
    background-color: var(--md-custom-color-hide-bg);
}

/*------------------------------------------------------------------------------------------------------------------ 
.                                                    BURGER MENU
---------------------------------------------------------------------------------------------------------------------- */

#burger-toggle {
    position: absolute;
    appearance: none;
    opacity: 0;
}

/* #burger-toggle:checked~.menu {
    opacity: 1;
    visibility: visible;
}

#burger-toggle:checked~.menu .menu-nav-link span div,
#burger-toggle:checked~.menu img,
#burger-toggle:checked~.menu .title p {
    transform: translateY(0);
    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}

#burger-toggle:checked~.burger-menu .line::after {
    transform: translateX(0);
}

#burger-toggle:checked~.burger-menu .line:nth-child(1) {
    transform: translateY(calc(4em / 5)) rotate(45deg);
}

#burger-toggle:checked~.burger-menu .line:nth-child(2) {
    transform: scaleX(0);
}

#burger-toggle:checked~.burger-menu .line:nth-child(3) {
    transform: translateY(calc(4em / -5)) rotate(-45deg);
} */

.burger-menu {
    position: relative;
    /* top: 5vh;
    left: 5vw; */
    /* z-index: 100; */
    /* display: block; */
    width: 4em;
    height: 4em;
    outline: none;
    cursor: pointer;
}

.burger-menu .line {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 3px;
    background: #acacac;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.burger-menu .line:nth-child(1) {
    top: 30%;
}

.burger-menu .line:nth-child(2) {
    top: 50%;
}

.burger-menu .line:nth-child(3) {
    top: 70%;
}

/* .burger-menu .line::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #00a8eb;
    transform: translateX(-100%);
    transition: 0.25s;
} */

/* .burger-menu .line:nth-child(2)::after {
    transition-delay: 0.1s;
}

.burger-menu .line:nth-child(3)::after {
    transition-delay: 0.2s;
}

.burger-menu:hover .line::after {
    transform: translateX(0);
} */

/* navbar media queries */

@media screen and (max-width:810px) {
    div.top-nav-wrapper {
        justify-content: space-around;
    }

    div.nav-link-wrapper {
        width: auto;
    }

    /* bottom */
    div.bottom-nav-wrapper {
        display: none;
    }

    div.nav-link-wrapper.big-screen {
        display: none;
    }

    #burger-toggle,
    .burger-menu {
        display: initial;
    }
}

@media screen and (max-width:419px) {
    div.top-nav-wrapper a {
        font-size: .9em;
    }

    div.logo img {
        width: 70px;
    }
}

/* @media screen and (max-width:350px) {
    .burger-menu {
        width: 2.5em;
        height: 2.5em;
    }

    .burger-toggle:checked~.burger-menu .line:nth-child(1) {
        transform: translateY(calc(2.5em / 5)) rotate(45deg);
    }

    .burger-toggle:checked~.burger-menu .line:nth-child(3) {
        transform: translateZ(calc(2.5em / 5)) rotate(-45deg);
    }

    .burger-menu .line:nth-child(1) {
        top: 30%;
    }

    .burger-menu .line:nth-child(2) {
        top: 40%;
    }

    .burger-menu .line:nth-child(3) {
        top: 50%;
    }
} */

/*------------------------------------------------------------------------------------------------------------------ 
.                                                    SIDE BAR NAVIGATION
---------------------------------------------------------------------------------------------------------------------- */
nav.side-nav {
    /* position: absolute; */
    width: 350px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    /* margin: 0; */
    background-color: var(--md-custom-color-hide-bg);
    /* border-radius: 8px; */
    z-index: 4;
    overflow: scroll;
    /* starting point */
    opacity: .3;
    transform: translate3d(-100%, 0, 0);
}

div.side-menu-container {
    overflow: hidden;
}

/* nav.side-nav li {
    display: inline-block;
} */

nav.side-nav li a {
    padding: 10px;
    letter-spacing: 3px;
    font-size: 1em;
}

nav.side-nav ul li {
    display: flex;
    flex-direction: column;
}

nav.side-nav div.hide {
    position: relative;
}

nav.side-nav div.hide ul {
    display: flex;
    flex-direction: column;
}

/* .side-nav ul {
    height: 100%;
    overflow: scroll;
} */

nav.side-nav li {
    display: block;
    /* float: none; */
}

nav.side-nav li a:hover {
    color: #fff;
    background-color: #19252c;
}

nav.side-nav li:first-child a.active,
nav.side-nav li:first-child a:hover {
    border-radius: 10px 0 0 0;
}

/*Nav Expanding Open Effect*/
nav.side-nav.open {
    opacity: 1;
    /* display: initial; */

    transform: translate3d(0, 0, 0);
    animation: slideIn .35s ease-in-out;
}

@keyframes slideIn {
    0% {
        opacity: .3;
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/*Nav Shrinking Closed Effect*/
nav.side-nav.close {
    opacity: .3;
    /* display: none; */

    transform: translate3d(-100%, 0, 0);
    animation: slideOut .35s ease-in-out;
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: .3;
        transform: translate3d(-100%, 0, 0);
    }
}

div.side-menu-logo {
    position: relative;
    width: 100%;
    text-align: center;
}

div.side-menu-logo span:first-child {
    display: inline-block;
}

div.side-menu-logo span:last-child {
    position: absolute;
    top: 20px;
    right: 10px;
}

div.side-menu-logo i {
    cursor: pointer;
}

div.side-nav-icons {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

/* @media screen and (max-width:810px) {} */

/*------------------------------------------------------------------------------------------------------------------ 
.                                                    SLIDESHOW
---------------------------------------------------------------------------------------------------------------------- */
div.slideshow-container {
    position: relative;
    overflow: hidden;
}

div.mySlides {
    position: absolute;
    width: 100%;
}

div.mySlides img {
    max-width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

div.ad {
    display: none;
}

@media screen and (min-width:880px) {
    .hero-wrapper{
        display: flex;
        gap: 10px;
        margin: 10px 20px;
    }

    div.slideshow-container {
        width: 900px;
    }

    div.ad {
        display: block;
    }
}

/*------------------------------------------------------------------------------------------------------------------ 
.                                                    ITEMS
---------------------------------------------------------------------------------------------------------------------- */
div.items {
    max-width: 100%;
    -webkit-user-select: none;
    user-select: none;
    /* position: relative; */
}

div.delivery-banner {
    /* flex-basis: 150px; */
    max-width: 1000px;
    /* margin-inline: auto; */
    margin: 10px auto;
}

div.delivery-banner img {
    filter: grayscale(.2);
    max-height: 70px;
}

div.item-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px;
}

div.item-list div {
    flex-basis: 150px;
    position: relative;
}

div.item-list h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: montserrat;
    color: #fff;
}

@media screen and (min-width:880px) {
    div.item-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    div.item-list img {
        height: 170px;
    }
}
/* ---------------------------------------------------TO DELETE SOON --------------------------------------------------------------------------*/
/*  Removable CSS  */

.header-section,
.body-section,
.footer-section {
    padding: 20px;
}

.placefiller {
    text-align: center;
    font-size: 20px;
    border: 1px dashed rgba(190, 196, 202, 0.5);
}

.header-section .placefiller {
    line-height: 300px;
}

.body-section .placefiller {
    line-height: 900px;
}

.footer-section .placefiller {
    line-height: 200px;
    border: 1px dashed rgba(190, 196, 202, 0.9);
}