@font-face {
    font-family: "montserrat";
    src: url('/assets/fonts/Montserrat-Regular.ttf') format('ttf');
    src: url('/assets/fonts/Montserrat-Regular.ttf');
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

a {
    color: var(--md-sys-color-secondary);
    cursor: pointer;
}

/* a:hover{
    color: var(--md-sys-color-primary-container);
    transition: .5s ease;
} */

/* body { */
    /* background-color: var(--md-sys-color-background); */
    /* font-family: montserrat; */
    /* font-family: Arial, sans-serif; */
/* } */

#themeIcon:hover{
    cursor: pointer;
}
#themeIcon {
    position: relative;
}

#themeIcon .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #5a5a5a;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* word-spacing: 5px; */
    /* letter-spacing: 2px; */
    font-family: 'Courier New', Courier, monospace;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

#themeIcon:hover .tooltip-text {
    visibility: visible;
}

/*------------------------------------------------------------------------------------------------------------------ 
.                                                    NAVIGATION BAR
---------------------------------------------------------------------------------------------------------------------- */
div.top-nav-wrapper,
div.bottom-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-height: 80px;
}

div.top-nav-wrapper a {
    font-size: 1em;
    width: inherit;
    text-align: center;
}

div.nav-link-wrapper {
    width: 150px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* overlay */
.cn-overlay {
    width: 100%;
    height: calc(100% - 120px);
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    /* top: 0; */
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    z-index: 2;
    pointer-events: none;
}

/* Class added to the overlay via JavaScript to show it when navigation is open */
.cn-overlay.on-overlay {
    opacity: 1;
    visibility: visible;
}

/* bottom */
div.bottom-nav-wrapper{
    height: 40px;
}

div.bottom-nav-wrapper ul {
    display: flex;
    z-index: 10;
}

div.bottom-nav-wrapper ul li {
    padding: 10px;
    user-select: none;
}

div.bottom-nav-wrapper ul li a i{
    font-size: 12px
}

li.bottom-nav-link div {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 0;
    right: 0;
    margin-inline: auto;
    margin-top: 10px;
    /* backdrop-filter: blur(100px); */
}

li.bottom-nav-link div ul {
    display: grid;
    grid-template-columns: 200px 200px;
}

/* li.bottom-nav-link div ul li{
    /* display: flex; 
    align-items: center;
} */

li.bottom-nav-link .link-title {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    text-align: center;
    font-family: montserrat;
}

li.bottom-nav-link div a {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.hide {
    display: none;
    /* background-color: rgba(0, 0, 0, .9); */
    background-color: var(--md-sys-color-background);
}